
// primary colors
$red: #F44336;
$green: #4CAF50;
$green-2: #27AE60;
$yellow: #FFEB3B;
$orange: #FF9800;
$blue: #2196F3;
$white: #fff;
$black: #000;
$grey: #939393;
$teal: #009688;

// light grey
$grey-lighten-1: #BDBDBD;
$grey-lighten-2: #E0E0E0;
$grey-lighten-3: #EEEEEE;
$grey-lighten-4: #F5F5F5;
$grey-lighten-5: #FAFAFA;

// dark grey
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;

// light teal
$teal-lighten-1: #26A69A;
$teal-lighten-2: #4DB6AC;
$teal-lighten-3: #80CBC4;
$teal-lighten-4: #B2DFDB;
$teal-lighten-5: #E0F2F1;

// dark teal
$teal-darken-1: #00897B;
$teal-darken-2: #00796B;
$teal-darken-3: #00695C;
$teal-darken-4: #004D40;

// accent teal
$teal-accent-1: #A7FFEB;
$teal-accent-2: #64FFDA;
$teal-accent-3: #1DE9B6;
$teal-accent-4: #00BFA5;