*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

li{
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

input,
textarea,
input:focus,
textarea:focus,
button {
    border: none;
    outline: none;
}

p {
    margin-bottom: 0;
}

*::-webkit-scrollbar {
    width: 8px,
}
*::-webkit-scrollbar-track {
    background: #F5F5F5;    // grey-lighten-4
}

*::-webkit-scrollbar-thumb {
    background: #BDBDBD;    // grey-lighten-1
}
*::-webkit-scrollbar-thumb:hover {
    background: #939393;   // grey
}
*::-webkit-scrollbar-thumb:active {
    background: #757575,  // grey-darken-1
}