@use "../base" as *;
@use "../utility" as *;


.analytics-wrapper{
    h3,
    .text-subtitle-2{
        color: $grey-darken-1;
    }

    .nav-tabs{
        border: 0;
        margin-bottom: 32px;

        .nav-link{
            @extend .text-subtitle-1;
            color: $grey-lighten-1;
            padding: 8px 0;
            border: 0;
        }

        .nav-item.show .nav-link,
        .nav-link.active{
            color: $grey-darken-2;
            background: transparent;
            border-bottom: 2px solid $teal;
        }

    }

    .accordion-item{

        .accordion-button{
            padding: 8px 16px;
            color: $grey-darken-1;
            gap: 8px;
        }

        .accordion-body{
            @extend .text-button;
            color: $teal;
            padding: 0 40px;
            gap: 4px;
        }
    }
}