@use "../base" as *;
@use "../utility" as *;

@mixin campaign-analytics{
    #count-wrapper{
        padding: 20px 0;

        & > *{
            margin-bottom: 0 !important;
        }

        h1{
            font-size: 56px;
        }
    }
}

.analytics-wrapper{
    h3,
    .text-subtitle-2{
        color: $grey-darken-1;
    }

    .nav-tabs{
        border: 0;
        margin-bottom: 32px;

        .nav-link{
            @extend .text-subtitle-1;
            color: $grey-lighten-1;
            padding: 8px 0;
            border: 0;
        }

        .nav-item.show .nav-link,
        .nav-link.active{
            color: $grey-darken-2;
            background: transparent;
            border-bottom: 2px solid $teal;
        }

    }

    .tab-content{
        .tab-pane:first-child{
            padding-bottom: 48px;
        }
    }

    .accordion-item{

        .accordion-button{
            padding: 8px 16px;
            color: $grey-darken-1;
            gap: 8px;
        }

        .accordion-body{
            @extend .text-button;
            color: $teal;
            padding: 0 40px;
            gap: 4px;
        }
    }

    .dropdown{
        .dropdown-menu{
            top: 56px !important;
            transform: none !important;
            left: auto !important;
            right: 0 !important;

            .sort-items{
                .dropdown-item{
                    @extend .text-caption;
                    color: $grey-darken-3;
                    padding: 0;
                    
                    
                    .filter-btns{
                        width: 100%;
                        position: relative;
                        padding: 4px 24px;

                        &:hover{
                            background: $teal-darken-4;
                            color: $white;
                        }

                        i{
                            position: absolute;
                            left: 6px;
                            bottom: -4px;
                            font-size: 24px;
                            opacity: 0;
                            color: $grey-darken-1;
                            transition: all 0.2s;
                        }
                    }

                    input:checked ~ .filter-btns i{
                        opacity: 1;
                    }
                    
                }
            }
        }
    }

    #campaigns-container{
        min-height: 70vh;
    }

    #campaigns{
        background: $grey-lighten-3;
    }

    .campaign-overview{
        padding-bottom: 40px;
        transition: all 0.5s;
        .btn-flat-tertiary.back{
            &:hover{
                background: transparent;
            }
        }

        header{
            .chip.previous{
                background: $grey-lighten-2;
            }
        }

        .analytics-card{
            @include campaign-analytics;
        }
    }

    .offcanvas[id$="-cta"]{
        .analytics-card{
            @include campaign-analytics;
        }
    }

    #date-picker{

        .chip{
            background: $grey-lighten-2;
            color: $grey-darken-3;
        }

        #report-range{
            cursor: pointer;
            border-bottom: 1px solid $grey-darken-1;

            .ph-caret-down{
                font-size: 15px;
                color: $grey-darken-1;
            }
        }
    }
}