@use "../base" as *;;
@use "../utility/" as *;

.auth-container{
    width: 400px;

    .auth-container-title{
        .text-body-1{
            color: $grey-darken-1;
        }
    }

    form{
        input,
        button{
            border: 1px solid transparent;
        }
        
        .auth-input-group{
            position: relative;
            margin-bottom: 32px;
            // background: $grey-lighten-3;

            i{
                // font-size: 24px;
                color: $teal;
            }

            .clear{
                pointer-events: none;
                background: transparent;
                border: transparent;
                opacity: 0;
                top: 14px;
                right: 16px;
                
                &:hover{
                    background: $grey-lighten-4;
                }

                &:active{
                    background: $grey-lighten-5;
                }
            
            }

            label{
                @extend .text-body-2;
                color: $grey-lighten-1;
                pointer-events: none;
                position: absolute;
                left: 16px;
                top: 20px;
            }
            input{
                @extend .text-body-1;
                width: 100%;
                background: $grey-lighten-3;
                border-radius: 8px;
                color: $grey-darken-1;
                padding: 16px;
                // padding: 20px 16px 0 16px;
                // position: absolute;
                // inset: 0;
                
                &:focus,
                &:valid{
                    @extend .text-body-1;
                    border: 1px solid $teal;
                    background: transparent;
                    padding: 28px 16px 4px 16px;

                    & ~ label{
                        @extend .text-caption;
                        top: 9.5px;
                        transition: top 0.2s;
                    }
                }

                &:valid ~ .clear{
                    opacity: 1;
                    pointer-events: visible;
                    transition: 0.2s;
                }
            }
        }

    }
    .auth-submit{
        @extend .text-button;
        background: $teal-darken-4;
        padding: 12px 16px;
        color: $white;
        border-radius: 8px;

        &:hover{
            background: $teal-darken-2;
        }

        &:active{
            background: $teal-darken-1;
        }

        &:focus{
            background: $teal-darken-2;
        }

    }
    .auth-footer{
        color: $grey-lighten-1;
        
        a{
            color: $teal-darken-4;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}