@use "../base/" as *;
@use "../utility/" as *;

.templates-wrapper{
    
    .templates-list{

        header{
            padding-top: 48px;
            padding-left: 40px;
            padding-right: 16px;
        }

        .search-section{
            max-width: unset;
            min-width: unset;
            width: unset;
        }

        .dropdown{
            .dropdown-menu{
                top: 56px !important;
                transform: none !important;

                .filter-items{
                    padding: 24px 16px;

                    .filter-btns{
                        label{
                            cursor: pointer;
                        }

                        input:checked ~ label{
                            border-color: transparent;
                            background: $grey-lighten-2;
                            color: $grey-darken-3;
                        }

                    }

                }

                .sort-items{
                    .dropdown-item{
                        @extend .text-caption;
                        color: $grey-darken-3;
                        padding: 0;
                        
                        
                        .filter-btns{
                            width: 100%;
                            position: relative;
                            padding: 4px 24px;

                            &:hover{
                                background: $teal-darken-4;
                                color: $white;
                            }

                            i{
                                position: absolute;
                                left: 6px;
                                bottom: -4px;
                                font-size: 24px;
                                opacity: 0;
                                color: $grey-darken-1;
                                transition: all 0.2s;
                            }
                        }

                        input:checked ~ .filter-btns i{
                            opacity: 1;
                        }
                        
                    }
                }
            }
        }

        .nav-tabs{
            border: 0;
            .nav-item{
                border-top: 1px solid $grey-lighten-2;

                &:hover{
                    background: $grey-lighten-5;
                }
            }
    
            .nav-link{
                padding: 24px 20px;
                width: 100%;
                border-radius: 0;
            }
            
            .nav-item.show .nav-link,
            .nav-link.active{
                .text-body-2{
                    color: $grey-darken-3;
                }
            }            

        }

    }

    .template-preview{
        background: $white;
        padding: 56px 16px;
        
        .input-group{
            .add-variable{
                width: fit-content;
            }

            .message-placeholders{
                background: $grey-lighten-4;
                border-radius: 8px 8px 0 0;

                .col-6:nth-child(2n+1){
                    padding-right: 8px;
                    margin-bottom: 16px;
                }
                .col-6:nth-child(2n){
                    padding-left: 8px;
                }

                .col-6:last-child{
                    opacity: 0.1;
                    user-select: none;
                    pointer-events: none;
                }

                select{
                    background: $grey-lighten-5;
                }
            }

            .media-preview{
                border-radius: 8px !important;
                overflow: hidden;
            }
        }

        .disable{
            input,
            select,
            textarea{
                pointer-events: none;
                border: transparent;
            }

            
            button,
            i{
                display: none;
            }

            .accordion-button{
                
                .button-icon:has(i.ph-caret-down){
                    &{ display: flex; }
                    i.ph-caret-down{ display: flex; }
                }
            }

        }

        .default-preview{
            gap: 56px;

            i{
                color: $orange;
            }
        }

        .accordion-item{
            .accordion-button{
                padding: 0;
                .button-icon{
                    background: transparent;
                    color: $teal;

                    &:hover{
                        background: $grey-lighten-4;
                    }
                
                    &:active{
                        background: $grey-lighten-5;
                    }

                    .ph-caret-down{
                        transition: all 0.2s;
                    }
                }

                &::after{
                    display: none;
                }

                &[aria-expanded="true"] .button-icon .ph-caret-down{
                    transform: rotate(180deg);
                }
            }
        }
    }
}