@use "../base/" as *;

.page-navigation{
    position: sticky;
    bottom: 0;
    background: $grey-lighten-3;
    border-top: 1px solid $grey-lighten-2;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination{
        margin-bottom: 0;
    }

    .page-item:first-child .page-link{
        margin-right: 45px;
    }
    .page-item:last-child .page-link{
        margin-left: 45px;
    }

    .page-link{
        background: transparent;
        border: transparent;
        border-radius: 4px;
        padding: 8px 13px;
        color: $grey-lighten-1;
    }
    
    .active > .page-link{
        background: $teal;
        color: $white;
    }
}