@use "../base/" as *;

.page-navigation{
    position: sticky;
    bottom: 0;
    background: $grey-lighten-3;
    border-top: 1px solid $grey-lighten-2;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination{
        margin-bottom: 0;
    }
    
    .previous .page-link{
        border-radius: 4px;
        margin-right: 45px;
    }
    .next .page-link{
        border-radius: 4px;
        margin-left: 45px;
    }

    .page-link{
        background: transparent;
        border: 2px solid transparent;
        border-radius: 4px;
        padding: 8px 13px;
        color: $grey-lighten-1;

        &:active{
            border: 2px solid $grey-darken-1;
        }
        &:focus{
            box-shadow: none;
        }
    }
    
    .active > .page-link{
        background: $teal;
        color: $white;
    }
}