@use "../base" as *;
@use "../utility/" as *;

.search-section{
    max-width: 852px;
    min-width: 620px;
    width: 50%;
    // overflow: hidden;
    gap: 12px;
    
    .search-wrapper{
        border-radius: 8px;
        background: $grey-lighten-5;
        
        input{
            @extend .text-button;
            background: transparent;
            width: 100%;
            
            &,
            &::placeholder{
                color: $teal-darken-4;
            }
        }

        .search-icon{
            background: transparent;
            
            i{
                color: $teal-darken-4;
            }
        }
    }

    .filter.dropdown{
        .dropdown-toggle::after{
            display: none;
        }
        .dropdown-menu{
            border: transparent;
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
            --bs-dropdown-link-active-color: inherit; 
            --bs-dropdown-link-active-bg: transparent;
            
            .dropdown-item{
                @extend .text-body-2;
                color: $grey-darken-1;
                padding: 8px 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;
                cursor: pointer;

                i{
                    font-size: 16px;
                }

                label{
                    user-select: none;
                    cursor: inherit;
                }

                input:is(:checked){
                    & ~ i.ph-square{
                        display: none;
                    }
                    & ~ i.ph-check-square{
                        display: inline !important;
                    }
                }

            }
        }
    }

}